html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bs-primary: #8004cc;
    --bs-secondary: #fc04fc;
    --bs-primary-rgb: 128, 4, 204;
    --bs-secondary-rgb: 255, 255, 255;
    --bs-text-color: #fff;
    --bs-text-rgb: rgb(255, 255, 255);
}

/* ------------ all mobile layouts below ------------ */

body {
    background-image: url(../images/neonwallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------- nav bar -----------------------*/

.logo {
    width: 75px;
    float: left;
}

/*adds customizations to nav bar links*/
nav li {
    text-align: center;
    color: var(--bs-text-color);
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
} 

.a:link {
    color: #636363;
    text-decoration: none;
}

a:visited {
    color: var(--bs-text-color);
    text-decoration: none;
}

.menuopen a {
    text-decoration: none;
  }

/*creates an underline and bold effect when hovering over nav bar links*/
a:hover{
    font-weight: bold;
   text-decoration: underline;
} 

/*----------- Headliner -------------*/

h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
    color: var(--bs-text-color);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.moto {
    font-size: 1.2rem;
    text-align: center;
    color: var(--bs-text-color);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.mainbanner {
    width: 100%;
    height: 170px;
    background-image: url(../images/banner.jpg);
}

/* ----------- main page information ------------ */

.wrapper1 {
    max-width: 1100px;
    margin: 2rem auto 0;
    background: rgba(0, 0, 0, 0.565);
    padding: 1rem;
}

.guitar {
    width: 100%;
    padding-bottom: 20px;
}

.home-title {
    color: var(--bs-text-color);
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.pv1 {
    color: var(--bs-text-color);
    line-height: 32px;
    padding-bottom: 30px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.okcomputer {
    width: 100%;
}

.pv2 {
    color: var(--bs-text-color);
    line-height: 32px;
    padding-top: 20px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.home-info2 {
    padding-bottom: 30px;
}

/* --------------- about page --------------- */

.studio1 {
    width: 250px;
    padding-bottom: 10px;
}

.showcase-title {
    font-size: 22px;
    padding-bottom: 10px;
    color: var(--bs-text-color);
    font-weight: bold;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.p4 {
    color: var(--bs-text-color);
    line-height: 26px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
}


/* --------------- contact page --------------- */

.contactbox {
    font-size: 18px;
    border-radius:10px;
    margin-bottom: 15px;
}

.contactus {
    padding-bottom: 50px;
    color: var(--bs-text-color);
}

.emailcontact {
    display: grid;
}

.contactbutton {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--bs-text-color);
    background: var(--bs-secondary);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
}

.contactbutton:hover {
    background-color:#ff96ff;
}

.contact-email {
    color: var(--bs-text-color);
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.emailcontact {
    color: var(--bs-text-color);
    line-height: 25px;
}


/* ------------------ footer ------------------ */
hr.solid {
    border-top: 1px solid var(--bs-text-color);
}

footer {
    display: grid;
    grid-auto-flow: column;
    /* justify-content: end; */
    padding-top: 10px;
    padding-bottom: 3px;
}

.navigatefooter {
    color: var(--bs-text-color);
    font-weight: bold;
    padding-bottom: 10px;
}

.social-icon {
    font-size: 32px;
    margin: 0 5px;
    color: var(--bs-text-color);
}

.copyright {
    color: var(--bs-text-color);
}

.pv3 {
    color: var(--bs-text-color);
    font-weight: bold;
    padding-bottom: 10px;
}

footer li {
    padding-bottom: 5px;
    list-style-type: none;
}

.follow-us {
    text-align: end;
    
}


/*  --------------- skip link --------------- */
.skip-link {
        
    position: absolute;
    top: -30px;
    text-decoration: none;
    overflow: hidden;
}
  
.skip-link:focus {
    top: auto;
    overflow: visible;
    padding: 10px;
    background-color: var(--secondary-color);
    color: black;
    text-align: center;
    text-decoration: none;
}

/* ------------ ALL DESKTOP CSS BELOW ------------ */
@media screen and (min-width: 760px) {
/* adds background image for entire website and fonts */
body {
    background-image: url(../images/neonwallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------- nav bar -----------------------*/


.logo {
    width: 70px;
    float: left;
    padding-left: 10px;
}

/*adds customizations to nav bar links*/
nav li {
    display: inline-block;
    text-align: center;
    color: var(--bs-text-color);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
}

.a:link {
    color: #636363;
    text-decoration: none;
}

a:visited {
    color: var(--bs-text-color);
    text-decoration: none;
}

.menuopen a {
    text-decoration: none;
} 

/*creates an underline and bold when hovering over nav bar links*/
a:hover{
   font-weight: bold;
   text-decoration: underline;
} 

/*----------- Headliner -------------*/

h1 {
    font-size: 5rem;
    text-align: center;
    padding-top: 4rem;
    color: var(--bs-text-color);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.moto {
    font-size: 1.5rem;
    text-align: center;
    color: var(--bs-text-color);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.mainbanner {
    width: 100%;
    height: 250px;
    background-image: url(../images/banner.jpg);
}

/* ----------- main page information ------------ */

.wrapper1 {
    max-width: 1100px;
    margin: 2rem auto 0;
    background: rgba(0, 0, 0, 0.565);
    padding: 1rem;
}

.guitar {
    width: 400px;
    padding-right: 10px;
    float: left;
}

.home-title {
    color: var(--bs-text-color);
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.home-info {
    padding-bottom: 50px;
}
.pv1 {
    color: var(--bs-text-color);
    line-height: 32px;
    padding-bottom: 50px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.okcomputer {
    width: 400px;
    float: right;
}

.pv2 {
    color: var(--bs-text-color);
    line-height: 32px;
    padding-bottom: 100px;
    padding-top: 60px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.home-info2 {
    padding-bottom: 30px;
}

/* --------------- about page --------------- */

.imgshowcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.studio1 {
    width: 250px;
    padding-bottom: 10px;
}

.showcase-title {
    font-size: 22px;
    padding-bottom: 10px;
    color: var(--bs-text-color);
    font-weight: bold;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.p4 {
    color: var(--bs-text-color);
    line-height: 26px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}


/* --------------- contact page --------------- */

.contactbox {
    font-size: 18px;
    border-radius:10px;
    margin-bottom: 15px;
}

.contactus {
    padding-bottom: 50px;
    color: var(--bs-text-color);
}

.emailcontact {
    display: grid;
}

.contactbutton {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--bs-text-color);
    background: var(--bs-secondary);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
}

.contactbutton:hover {
    background-color:#ff96ff;
}
.contact-email {
    color: var(--bs-text-color);
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.emailcontact {
    color: var(--bs-text-color);
    line-height: 25px;
}


/* ------------------ footer ------------------ */
hr.solid {
    border-top: 1px solid var(--bs-text-color);
}

footer {
    display: grid;
    grid-auto-flow: column;
    padding-top: 10px;
    padding-bottom: 3px;
}

.navigatefooter {
    color: var(--bs-text-color);
    font-weight: bold;
    padding-bottom: 10px;
}

.social-icon {
    font-size: 32px;
    margin: 0 5px;
    color: var(--bs-text-color);
}

.copyright {
    color: var(--bs-text-color);
}

.pv3 {
    color: var(--bs-text-color);
    font-weight: bold;
    padding-bottom: 10px;
}

footer li {
    display: inline-block;
    padding-right: 15px;
    color: var(--bs-text-color);
}

.follow-us {
    text-align: end;
    
}


/*  --------------- skip link --------------- */
.skip-link {
    position: absolute;
    top: -30px;
    text-decoration: none;
    overflow: hidden;
}
  
.skip-link:focus {
    top: auto;
    overflow: visible;
    padding: 10px;
    background-color: var(--bs-secondary);
    color: black;
    text-align: center;
    text-decoration: none;
}
}